.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #232f3e;
}

.image {
  padding: 10px 10px;
  cursor: pointer;
}

.gpsContainer {
  padding: 10px 0;
  margin-left: 10px;
}

.icon {
  color: white;
}

.helloSpan {
  font-size: 12px;
  color: white;
}

.addressSpan {
  font-size: 16px;
  color: white;
  font-weight: 800;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-left: 15px;
  width: 65vw;
}

.searchBarForm {
  display: flex;
}

.selectBox {
  padding: 5px 0;
  width: auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #999;
}

.searchBarInput {
  line-height: 2;
  font-size: 16px;
  width: 45vw;
  padding-left: 10px;
}

.searchIcon {
  display: flex;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  background-color: orange;
  height: 35px;
}

.btnsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.signinBtnContainer {
  display: flex;
  align-items: center;
}

.signinBtn {
  background-color: orange;
  padding: 5px 10px;
  border-radius: 5px;
}

.cartBtnContainer {
  display: flex;
  align-items: center;
}

.cartBtn {
  background-color: orange;
  padding: 5px 10px;
  border-radius: 5px;
}
