.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 80vw;
  padding: 10px;
  margin-top: 10vh;
}

.productTitle {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  margin: 5vh 0 10vh 5vw;
}

.productImage {
  
  width: 60vw;
}

.priceContainer {
  display: flex;
  justify-content: flex-start;
  width: 20vw;
  gap: 20px;
}

.productPrice {
  font-size: 20px;
  font-weight: 800;
}

.cartBtn {
  background-color: orange;
  border-radius: 5px;
  padding: 5px 10px;
}
